nav.nav.header__nav
    .nav__item
        a.nav__link(href="#")
            |Main
    .nav__item
        a.nav__link(href="#portfolio")
            |Portfolio
    .nav__item
        a.nav__link(href="#blog")
            |Blog
    .nav__item
        a.nav__link(href="#skills")
            |Skills
    .nav__item
        a.nav__link(href="#contact")
            |Contact