main.page-main
    .container
        .page__inner
            h1.page__title
                |Skills
            h2.sub-title
                |To do
            .page__content
            
        +pageNav({
            left: ['blog', 'blog.html'],
            right: ['contact', 'contact.html']})