doctype html
html(lang="ru")
    include ../index/blocks/head.pug

    body
        include ../../mixins.pug
        include ../../vars.pug
        include ../../data.pug
         
        include ../index/blocks/navigation
        .page.page_portfolio
            include blocks/main
            include ../index/blocks/header

        script(src="js/main.js" type="module")