main.page-main
    .container
        .page__inner
            .link__inner
                a.link_previous(href="/portfolio.html" title="Back")
            h1.page__title
                |Hemma
            h2.sub-title.sub-title_marginTop
                |Hemma is a clean, modern and professional theme for Holiday Houses, Resorts, Hotels and Real Estate.
            .page__content
                .button__inner
                    a.button.button_external.page__button(href="https://sukachevalex.github.io/Hemma/index.html")
                        |Visit the website
                    a.button.button_github.page__button(href="https://github.com/SukachevAlex/Hemma")
                        |Project on github
                
                .slider
                    .slider__item(style="background-image: url(img/slider_portfolio/hemma/slider_1-1280w.png")
                    .slider__item(style="background-image: url(img/slider_portfolio/hemma/slider_2-1280w.png")
                    .slider__item(style="background-image: url(img/slider_portfolio/hemma/slider_3-1280w.png")
                    .slider__item(style="background-image: url(img/slider_portfolio/hemma/slider_4-1280w.png")
                    .slider__item(style="background-image: url(img/slider_portfolio/hemma/slider_5-1280w.png")
                h2.project__title
                    |Technologies
                ul.project__list
                    ul.project__list
                    li.project__list-item 
                        |HTML5
                    li.project__list-item 
                        |CSS3
                    li.project__list-item 
                        |JavaScript
                    li.project__list-item 
                        |SASS
                    li.project__list-item 
                        |Yandex Maps
                    li.project__list-item 
                        |Pug
                    li.project__list-item 
                        |SVG
                    li.project__list-item 
                        |Animation
                    li.project__list-item 
                        |Gulp
                    li.project__list-item 
                        |GitHub
            
        +pageNav({
            left: ['portfolio', 'project-portfolio.html'],
            right: ['dom yandex', 'project-domYandex.html']})
                