-
    var deviceList = [ 
        {
        'icon'     : 'sun',
        'name'     : 'Xiaomi Yeelight LED Smart Bulb',
        'schedule' : 'Включено',
        'type'     : 'bulb'
        },
        {
        'icon'     : 'sun-inactive',
        'name'     : 'D-Link Omna 180 Cam',
        'schedule' : 'Включится в 17:00',
        'type'     : 'camera'
        },
        {
        'icon'     : 'temperature-inactive',
        'name'     : 'Elgato Eve Degree Connected',
        'schedule' : 'Выключено до 17:00',
        'type'     : 'hall'
        },
        {
        'icon'     : 'sun-inactive',
        'name'     : 'LIFX Mini Day & Dusk A60 E27',
        'schedule' : 'Включится в 17:00',
        'type'     : 'kitchen'
        },
        {
        'icon'     : 'sun',
        'name'     : 'Xiaomi Mi Air Purifier 2S',
        'schedule' : 'Включено',
        'type'     : 'hall'
        },
        {
        'icon'     : 'sun-inactive',
        'name'     : 'Philips Zhirui',
        'schedule' : 'Выключено',
        'type'     : 'bulb'
        },
        {
        'icon'     : 'sun',
        'name'     : 'Xiaomi Mi Air Purifier 2S',
        'schedule' : 'Включено',
        'type'     : 'kitchen'
        },
    ];

    var scriptList = [ 
        {
        'icon' : 'sun',
        'description' : 'Выключить весь свет в доме и во дворе',
        },
        {
        'icon' : 'scheduled',
        'description' : 'Я ухожу',
        },
        {
        'icon' : 'sun',
        'description' : 'Включить свет коридоре',
        },
        {
        'icon' : 'temperature',
        'description' : 'Набрать горячую ванну',
        'schedule' : 'Начнётся в 18:00'
        },
        {
        'icon' : 'temperature',
        'description' : 'Сделать пол тёплым во всей квартире',
        },
    ];