-
    var projectItems = [ 
        {
        'name'       : 'Portfolio',
        'path'       : 'portfolio.jpg',
        'path_hover' : 'portfolio_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-portfolio.html',
        'page'       : 'https://sukachevalex.github.io'
        },
        {
        'name'       : 'Hemma',
        'path'       : 'hemma.jpg',
        'path_hover' : 'hemma_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-hemma.html',
        'page'       : 'https://sukachevalex.github.io/Hemma/index.html'
        },
        {
        'name'       : 'Dom Yandex',
        'path'       : 'domYandex.jpg',
        'path_hover' : 'domYandex_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-domYandex.html',
        'page'       : 'https://sukachevalex.github.io/dom.yandex/index.html'
        },
        {
        'name'       : 'Posh',
        'path'       : 'posh.jpg',
        'path_hover' : 'posh_hover.jpg',
        'link'       : '/project-posh.html',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'page'       : 'https://sukachevalex.github.io/Posh/index.html'
        },
        {
        'name'       : 'Smitler',
        'path'       : 'smitler.jpg',
        'path_hover' : 'smitler_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-smitler.html',
        'page'       : 'https://sukachevalex.github.io/Smitler/index.html'
        },
        {
        'name'       : 'AgriPlus',
        'path'       : 'agriplus.jpg',
        'path_hover' : 'agriplus_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-agriplus.html',
        'page'       : 'https://sukachevalex.github.io/AgriPlus/index.html'
        },
        {
        'name'       : 'Wedding',
        'path'       : 'wedding.jpg',
        'path_hover' : 'wedding_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-wedding.html',
        'page'       : 'https://sukachevalex.github.io/Wedding/index.html'
        },
        {
        'name'       : 'Gratia',
        'path'       : 'gratia.jpg',
        'path_hover' : 'gratia_hover.jpg',
        'tab'        : ['html5', 'css3', 'js', 'sass', 'pug', 'svg', 'animation', 'gulp', 'git'],
        'link'       : '/project-gratia.html',
        'page'       : 'https://sukachevalex.github.io/Gratia/index.html'
        }
    ];
