main.page-main
    .container
        .main__inner
            .promo
                h1.title.main__title
                    |Hello, my name is Alexandr Sukachev, Front-End Developer.
                h2.sub-title.main__sub-title
                    |More interesting information about me.
        +pageNav({right: ['portfolio', 'portfolio.html']})
        include social

    