nav.nav.header__nav
    .nav__item
        a.nav__link(href="index.html")
            |Main
    .nav__item
        a.nav__link(href="portfolio.html")
            |Portfolio
    .nav__item
        a.nav__link(href="blog.html")
            |Blog
    .nav__item
        a.nav__link(href="skills.html")
            |Skills
    .nav__item
        a.nav__link(href="contact.html")
            |Contact