a(href="https://linkedin.com/in/alexsukachev/").social__item.social__item_linkedin
a(href="https://github.com/SukachevAlex").social__item.social__item_github
a(href="https://telegram.me/sukachevalex").social__item.social__item_telegram
