main.page-main
    .container
        .page__inner
            .link__inner
                a.link_previous(href="/portfolio.html" title="Back")
            h1.page__title
                |Agriplus
            h2.sub-title.sub-title_marginTop
                |to do
            .page__content
                .button__inner
                    a.button.button_external.page__button(href="https://sukachevalex.github.io/AgriPlus/index.html")
                        |Visit the website
                    a.button.button_github.page__button(href="https://github.com/SukachevAlex/AgriPlus")
                        |Project on github
                
                .slider
                    .slider__item(style="background-image: url(img/slider_portfolio/agriplus/slider_1.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/agriplus/slider_2.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/agriplus/slider_3.jpg")
                h2.project__title
                    |About project
                .project__text
                    |to do
                h2.project__title
                    |Technologies
                ul.project__list
                    li.project__list-item 
                        |HTML5
                    li.project__list-item 
                        |CSS3
                    li.project__list-item 
                        |JavaScript
                    li.project__list-item 
                        |SASS
                    li.project__list-item 
                        |Yandex Maps
                    li.project__list-item 
                        |Pug
                    li.project__list-item 
                        |SVG
                    li.project__list-item 
                        |Animation
                    li.project__list-item 
                        |Gulp
                    li.project__list-item 
                        |GitHub
            
        +pageNav({
            left: ['smitler', 'project-smitler.html'],
            right: ['gratia', 'project-gratia.html']})
                