.social__wrapper
    display: flex
    justify-content: center
    margin-top: 30px
    animation: fadeInLight 3s ease
    .social__item
        margin-right: 15px
        &:last-of-type
            margin-right: 0

.email-address
    color: lighten(#3d3d3d, 25%)
    font-weight: bold

.contact-form
    text-align: center
    margin-bottom: 85px
    
.contact-form__input, .contact-form__textarea
    padding-left: 50px
    width: 100%
    background: none
    border: none
    font-size: 24px
    color: $fontColor
    padding-bottom: 10px
    border-bottom: 1px solid #3d3d3d
    font-weight: bold
    position: relative      
    &::placeholder
        color: #3d3d3d

.contact-form__textarea
    height: 38px
    resize: none
    outline: none
    overflow: hidden

.contact-form__button
    margin-top: 15px

.sub-title_marginTop
    font-size: 1.3em
    width: 80%
    margin: 30px auto
    text-align: center

.contact-form__label
    position: relative
    margin: 0 auto 20px
    width: 80%
    background-repeat: no-repeat
    background-position: center


    
.contact-form__label_name, 
.contact-form__label_email, 
.contact-form__label_text
    &::after
        content: ""
        display: block
        position: absolute
        top: 0
        left: 5px
        width: 30px
        height: 30px

.contact-form__label_name
    &::after
        background-image: url(../img/svg/icon_profile.svg)
        background-size: 100%

.contact-form__label_email
    &::after
        background-image: url(../img/svg/icon_envelope.svg)
        background-size: 100%

.contact-form__label_text
    &::after
        background-image: url(../img/svg/icon_text.svg)
        background-size: 100%