main.page-main
    .container
        .page__inner.page__inner_half
            .page__top-line
                h1.page__title
                    |Contact me
                h2.sub-title.sub-title_marginTop
                    |If you want to write me, just use form below or send me email to 
                    a.email-address(href="mailto:sukachevalexandr@gmail.com")
                        |sukachevalexandr@gmail.com
            .page__content                
                form.contact-form(method="POST" action="https://formspree.io/maloutm@n-shift.ru")
                    .contact-form__label.contact-form__label_name
                        input.contact-form__input.contact-form__input_name(type="text" name="name" placeholder="Your name" autofocus)
                    .contact-form__label.contact-form__label_email
                        input.contact-form__input.contact-form__input_email(type="email" name="email" placeholder="Your email")
                    .contact-form__label.contact-form__label_text
                        textarea.contact-form__textarea.contact-form__textarea_text(name="message" placeholder="Your message")
                    button.button.contact-form__button(type="submit")
                        |Send

                h2.sub-title.sub-title_marginTop
                    |Or visit my social networks
                .social__wrapper
                    include ../../index/blocks/social
        +pageNav({left: ['portfolio', 'portfolio.html']})
        //- +pageNav({left: ['skills', 'skills.html']})