main.page-main
    .container
        .page__inner
            .link__inner
                a.link_previous(href="/portfolio.html" title="Back")
            h1.page__title
                |Wedding
            h2.sub-title.sub-title_marginTop
                |to do
            .page__content
                .button__inner
                    a.button.button_external.page__button(href="https://sukachevalex.github.io/Wedding/index.html")
                        |Visit the website
                    a.button.button_github.page__button(href="https://github.com/SukachevAlex/Wedding")
                        |Project on github
                
                .slider
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_1.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_2.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_3.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_4.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_5.jpg")
                    .slider__item(style="background-image: url(img/slider_portfolio/wedding/slider_6.jpg")
                h2.project__title
                    |About project
                .project__text
                    |to do
                h2.project__title
                    |Technologies
                ul.project__list
                    li.project__list-item 
                        |to do
                