main.page-main
    .container
        .page__inner
            h1.page__title
                |My resent projects
            .page__content
                
        +pageNav({
            left: ['main', 'index.html'],
            right: ['blog', 'blog.html']})


    