main.page-main
    .container
        .page__inner
            h1.page__title
                |My resent projects
            .page__content
                .project__inner
                    each item in projectItems
                        +projectItem(item)

                
        +pageNav({
            left: ['main', 'index.html'],
            right: ['contact', 'contact.html']})
            //- right: ['blog', 'blog.html']})


    