main.page-main
    .container
        .page__inner
            h1.page__title
                |My thoughts
            .page__content
            
        +pageNav({
            left: ['portfolio', 'portfolio.html'],
            right: ['contact', 'contact.html']})